<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card" style="width: 256px">
        <div class="card-body">
            <div class="row">
                <div class="d-grid text-center">
                    <h3 class="mb-2">Scrum Poker</h3>
                    <span class="text-black-50 mb-4 font-monospace">{{ message }}</span>
                    <button class="btn btn-outline-dark" role="button" style="text-transform: none" (click)="login()">
                        <img
                            width="20px"
                            style="margin-bottom: 3px; margin-right: 5px"
                            alt="Google sign-in"
                            src="/assets/google.svg.webp"
                        />
                        Login with Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
