@if (room()) {
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card" style="height: 75vh">
            <div class="d-flex h-100">
                <div class="flex-grow-1 p-2 h-100" style="background: rgba(0, 0, 0, 0.15)">
                    @if (roundId()) {
                        <app-round [room]="room()" [id]="roundId()!"></app-round>
                    }
                </div>
                <div class="border-start">
                    @if (roundId()) {
                        <app-presence [users]="users()" [round]="roundId()!"></app-presence>
                    }
                </div>
            </div>
        </div>
    </div>
}
