.user-name {
    text-overflow: ellipsis;
}

img {
    min-height: 42px;
    min-width: 42px;
    height: 42px;
    width: 42px;
}

.image-container {
    position: relative;
    width: 42px;
    height: 42px;
}
.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
}
.image-container.checked .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.6);

    > span {
        font-size: 27px;
    }
}
