.card {
    height: 90px;
    width: 60px;
    font-size: 28px;
    position: relative;
    animation: fadein 0.5s ease-out forwards;
    border: 1px solid rgba(0, 0, 0, 0.225);
    border-radius: 0.45rem;
    margin-right: 0.45rem;
    box-shadow: 2px 2px 2px #aaa;

    &.option-selected {
        animation: bounce 0.25s ease-out forwards;
    }

    &.fadeout {
        animation: fadeout 0.25s ease-out forwards;
    }

    > .card-tip {
        position: absolute;
        top: 1px;
        right: 5px;
        font-size: 12px;
    }
}

.card:hover {
    color: white;
    background-color: rgb(186, 140, 99);
    cursor: pointer;
}

.card-number {
    font-weight: bolder;
}

@keyframes fadein {
    from {
        top: 40px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        top: 0;
        opacity: 1;
    }
    to {
        top: 40px;
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
