<div class="d-flex align-items-center">
    @for (option of options(); track option; let index = $index) {
        <div
            class="card {{ rumble() ?? '' }}"
            [class.option-selected]="optionSelected() === option"
            [class.fadeout]="fadeout()"
            (click)="onOptionSelected(option)"
        >
            @if (index <= 9) {
                <span class="card-tip">({{ index }})</span>
            }
            <div class="card-body d-flex align-items-center justify-content-center p-2">
                <span class="font-monospace card-number">
                    {{ option | optionRenderer }}
                </span>
            </div>
        </div>
    }
</div>
